/*layout*/

#header {position: relative; height: 327px; background: url(../img/header_bg.jpg) center; -webkit-background-size:  cover;}
#header:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
#tit {background: #dbdbdb; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;background: url(../img/xv.png)  } 
#nav {display: none;}

#contents {  }
#contents .container{ border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; box-sizing: border-box;}
#cont-left {float: left; width: 250px; height: 1000px;  }
#cont-center { box-sizing: border-box; overflow: hidden; margin-right: 250px; min-height: 1300px; border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}
#cont-right {position: absolute; right: 0; top: 0; width: 250px;   }
#footer{ border-top: 1px solid #dbdbdb;  }

/*container*/
.container { position: relative; width: 1200px; margin: 0 auto; /*background: rgba(0,0,0,0.3);	*/}

/*quick*/	
.quick { text-align: right;  }
.quick a{ font-size: 15px; color: #fff; position: relative; z-index: 10; padding: 8px 0 0 0; margin-left: 10px; display:  inline-block;}
.quick a:before {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #8f666c; transform: scaleX(0); transition: transform .25s ease-in-out;}
.quick a:hover:before {transform: scaleX(1);}

/*title*/
.title { text-align: center; position: relative; z-index: 10;  }
.title h1 {cursor: pointer; transition:  all 0.5s ease-in-out; border-radius: 70px; background: #fff;  color: #8f666c; margin-top: 50px; font-size: 30px; padding: 10px; display: inline-block; padding: 3px 20px;}
.title a {transition:  all 0.5s ease-in-out;  border-radius: 50px; background: #fff; color: #8f666c; font-size: 20px;display: inline-block; padding: 3px 20px; margin-top: 10px;}
.title h1:hover {box-shadow: 0px 0px 0px 9px rgba(196,40,54,0.5); }
.title a:hover {box-shadow: 0px 0px 0px 9px rgba(196,40,54,0.2); }


/*tit*/
.tit {position: relative; padding: 25px 0; text-align: center;}
.tit h2 { white-space: nowrap; line-height: 1; position: relative; font-size: 28px; font-weight: 700; color: #000; display: inline-block;}
.tit h2:before {content: '"I am a front-end and developer"';
 position: absolute; left: 0; top: 0; 
	color: #8f666c; width: 0;
	overflow: hidden; white-space: nowrap; 
	transition: width 1s ease-out;
	line-height: 1; cursor: pointer;}
.tit h2:hover:before {width: 100%;}
.tit .tit-btn {position: absolute; right: 10px; top: 6px; color: #fff; width: 66px; height: 66px; background: rgba(196,40,54,0.9); border-radius: 50%;}
.tit .tit-btn i {font-size: 30px; line-height: 66px;}


/*cbox*/
.cbox { padding: 15px; border-bottom: 1px solid #dbdbdb; }
.cbox .cbox-tit {font-size: 20px; color:#8f666c; text-transform: uppercase; }
.cbox .cbox-desc {border-bottom: 1px dashed #000; padding-bottom: 15px; margin-bottom: 15px  }
.cbox.box1 {  }
.cbox.box2 {  }
.cbox.box3 { border-bottom: 0; }
.cbox.box4 {  }
.cbox.box5 {  }
.cbox.box6 {border-bottom: 0;  }
.cbox.box7 {  }
.cbox.box8 {  }
.cbox.box9 { border-bottom: 0; }

/*menu*/
/*.menu {  }
.menu ul {  }
.menu li {padding: 15px; border-bottom: 1px solid #dbdbdb; text-transform: uppercase; }
.menu li  span { float: right; }*/
 
.menu li a { display: block; font-size: 16px; padding: 12px 10px 10px 10px; 
	 position: relative; border-bottom: 1px solid #dbdbdb; color: #888; transition: all 0.7s ease;}
.menu li a:after { content: '\f054'; font-family: FontAwesome;
display: block;
font-size: 12px;
top:  50%;
right:  15px;
position: absolute;
transform: translateY(-50%); }
.menu li a:hover {box-shadow: inset 180px 0 0 0 rgba(196,40,54,0.6);  background: rgba(196,40,54,0.9); color: #fff;}
.menu li a:hover:after {color: #fff;}



/*#cont-left article:nth-child(4) {border-bottom: 0;}
#cont-center article:nth-child(4) {border-bottom: 0;}
#cont-right article:nth-child(4) {border-bottom: 0;}*/

/*#cont-left article:last-child {border-bottom: 0;}
#cont-center article:last-child {border-bottom: 0;}
#cont-right article:last-child {border-bottom: 0;}*/

/*#contents article:last-child {border-bottom: 0;}*/

/*notice1*/
.notice1 {position: relative;  }
.notice1 h5 {font-size: 14px; color: #8f666c; margin-bottom: 3px; }
.notice1 ul {  }
.notice1 li {position: relative; padding-left: 8px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice1 li:before {content:''; width: 2px; height: 2px; background: #8f666c; position: absolute; left: 0; top: 8px;  }
.notice1 .more {position: absolute; right: 0; top: 5px; font-size: 10px; color: #878787;}

/*notice2*/
.notice2 {position: relative;  }
.notice2 h5 {font-size: 14px; color: #8f666c; margin-bottom: 3px; }
.notice2 ul {  }
.notice2 li {position: relative; padding-left: 8px; overflow: hidden; max-height: 38px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
.notice2 li:before {content:''; width: 2px; height: 2px; background: #8f666c; position: absolute; left: 0; top: 8px;  }
.notice2 .more {position: absolute; right: 0; top: 5px; font-size: 10px; color: #878787;}


/*blog1*/
.blog1 {  }
.blog1 h5 { text-align: center; padding: 15%; margin-bottom: 5px; color: transparent; transition: all 0.33s ease;
				   background: url(../img/BLOG3_320.jpg); background-size: cover;}
.blog1 h5:hover {color: #fff;}			   
.blog1 p {  }



/*blog2*/
.blog2 {margin-top: 15px;  }
.blog2 h5 {text-align: center; padding: 15%; margin-bottom: 5px; color: transparent; transition: all 0.33s ease;
 				  background: url(../img/BLOG4_320.jpg);background-size: cover; }
.blog2 h5:hover {color: #fff;}		 				  
.blog2 p {  }

/* square */
.square {overflow: hidden;  }
.square a {float: left; width: 19%; margin: 0.5%;  font-size: 18px; position: relative; }
.square a img {
    width: 100%; height: 100%; 
    display: block;
/*  object-fit:cover; */
    transition:all 0.5s ease-in-out;
}

.square a:before{content: ''; position: absolute; left: 50%; top: 50%;  transform: translate(-50%, -50%);  }
.square a:hover:before { background: #fff;content: 'Hello'; color: #fff;  font-size: 18px;  background-blend-mode: lighten; font-size: 30px; color: red;}

.square .effect1 {  background-color: #00ff36; }
.square .effect1 img {mix-blend-mode : multiply;
    filter: grayscale(100%) contrast(1);}
.square .effect2 {  background-color: #e41c2d; }
.square .effect2 img {mix-blend-mode : multiply;
    filter: grayscale(100%) contrast(0.8);}
.square  .effect3 {background-color: #f1e3a0;}
.square  .effect3 img {mix-blend-mode : darken;filter: grayscale(100%) contrast(2);}
.square  .effect4 {background-color: #caeaf2;}
.square  .effect4 img {mix-blend-mode : multiply;filter: grayscale(100%) contrast(1.5);}
.square  .effect5 {background-color: #181e59;}
.square  .effect5 img {mix-blend-mode : lighten;filter: grayscale(100%) contrast(1.5);}
.square  .effect6 {background-color: #77acd4;}
.square  .effect6 img {mix-blend-mode : multiply;filter: grayscale(100%) contrast(1.2);}
.square  .effect7 {background-color: #fca300;}
.square  .effect7 img {mix-blend-mode : darken;filter: grayscale(100%) contrast(1.2);}
.square  .effect8 {background-color: #2a8fbd;}
.square  .effect8 img {mix-blend-mode : soft-light;filter: grayscale(100%) contrast(1.5);}
.square  .effect9 {background-color: #fff;}
.square  .effect9 img { mix-blend-mode : exclusion;filter: grayscale(100%) contrast(1.5);}
.square  .effect10 {background-color: #fff;}
.square  .effect10 img { mix-blend-mode : exclusion;filter: grayscale(100%) contrast(1.5);}


/* video */
/*.video video {width: 100%;  }*/

.video {position: relative; width: 100%; padding-bottom: 56.25%;}
.video iframe { position: absolute; width: 100%; height: 100%;}

/*himg1*/
.himg1 {position: relative; }
.himg1 a { position: relative;display: block; perspective: 600px; }
.himg1 a .front {
   transform-style: preserve-3d; 
   transform: rotateY(0deg);
   transition: all 0.5s ease-in-out;
   backface-visibility: hidden;}
.himg1 a .back{
   transform-style: preserve-3d;
   position: absolute; top: 0; z-index: -1;
   width: 100%; height: 100%;
   text-align: center;
   background: #8f666c; 
   transform:  rotateY(-180deg);
   transition: all 0.5s ease-in-out;
    backface-visibility: hidden;}
.himg1 a .back i {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #4527a0 ;}
.himg1 a:hover .front {transform: rotateY(180deg);}
.himg1 a:hover .back {transform: rotateY(0deg); z-index: 1;}

/* himg2 */
.himg2 {position: relative; perspective: 1000px; width: 44px; height: 300px; }
.himg2 .back {
	width: 50%; height: 100%;
    position: absolute; right: 0; z-index: 0;
    background: #666;  
}
.himg2 .slice {
	width: 44px; height: 300px; z-index: 100;
	transform-style: preserve-3d;
	transform-origin: left center;
	backface-visibility: hidden;
	transition: transform 150ms ease-in-out;
	background: url(../img/himg2.jpg); background-size: 220px;
}
.himg2 .overlay {width: 44px; height: 100%; opacity: 0; position: absolute;}
.himg2:hover .overlay {opacity: 1;}
.himg2 .s1 > .overlay {background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);  }
.himg2 .s2 > .overlay {background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);  }
.himg2 .s3 > .overlay {background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);  }
.himg2 .s4 > .overlay {background: linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);  }
.himg2 .s5 > .overlay {background: linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);  }

.himg2 .s2 {transform: translate3d(44px,0,0); background-position: -44px 0;}
.himg2 .s3 {transform: translate3d(44px,0,0); background-position: -88px 0;  }
.himg2 .s4 {transform: translate3d(44px,0,0); background-position: -132px 0;  }
.himg2 .s5 {transform: translate3d(44px,0,0); background-position: -176px 0;  }
.himg2:hover .s2 {transform: translate3d(43px,0,0) rotate3d(0,1,0,-45deg); }
.himg2:hover .s3 {transform: translate3d(43px,0,0) rotate3d(0,1,0,90deg); }
.himg2:hover .s4 {transform: translate3d(43px,0,0) rotate3d(0,1,0,-90deg); }
.himg2:hover .s5 {transform: translate3d(43px,0,0) rotate3d(0,1,0,90deg);}




/* footer */
.footer {text-align: center; padding: 20px;}
/* nav */
.nav {padding: 30px 0 0;  }
.nav h2 {padding-bottom:  15px; font-size: 30px; color: #8f666c;   text-align: center; }
.nav li {float: left; width: 20%; font-size: 15px; text-align: center; }
.nav li a { position: relative; overflow: hidden; border: 1px solid #ccc; margin: 20px 0; display: inline-block; padding: 20px 65px; transition:  all .4s ease-in-out;}

.nav li:nth-child(1) a { box-shadow:  0 0 0 0 rgba(196,40,54,0.5) inset;}
.nav li:nth-child(1) a:hover { box-shadow:  350px 0 0 0 rgba(196,40,54,0.5) inset; color: #fff;}

.nav li:nth-child(2) a:before {content: ''; position: absolute; left: 0; top: 0; right: -40px; bottom: 0; 
border-right: 30px solid transparent; border-bottom: 80px solid #fbc2eb; transform: translateX(-100%); transition:  all .4s ease-in-out; z-index: -1;}
.nav li:nth-child(2) a:hover:before {transform:  translateX(0px); }
.nav li:nth-child(2) a:hover {color: #fff;}

.nav li:nth-child(3) a {position: relative; }
.nav li:nth-child(3) a span {display: block;}
.nav li:nth-child(3) a:before				 {transition:  all .4s ease-in-out; content: ''; position: absolute; width: 25.25%; z-index: -1; color: #000; height: 0; background: #fda085; top: 0; left: 0;  }
.nav li:nth-child(3) a:after 				 	 {transition:  all .4s ease-in-out; content: ''; position: absolute; width: 25.25%; z-index: -1; color: #000;height: 0; background: #fda085; top: 0; left:50%; }
.nav li:nth-child(3) a span:before 		 {transition:  all .4s ease-in-out; content: ''; position: absolute; width: 25.25%; z-index: -1; color: #000;height: 0; background: #fda085; bottom: 0; left:25%; }
.nav li:nth-child(3) a span:after 			 {transition:  all .4s ease-in-out; content: ''; position: absolute; width: 25.25%; z-index: -1; color: #000;height: 0; background: #fda085; bottom: 0; left: 75%; }

.nav li:nth-child(3) a:hover:before	  			 {height: 70px;  }
.nav li:nth-child(3) a:hover:after 				 { height: 70px; }		 
.nav li:nth-child(3) a:hover span:before     {height: 70px; } 		 
.nav li:nth-child(3) a:hover span:after 		 { height: 70px; }
.nav li:nth-child(3) a:hover {color: #fff;}

.nav li:nth-child(4) a {position: relative; color: #000;}
.nav li:nth-child(4) a:before {transition:  all .4s ease-in-out; z-index: -1; content: ''; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: #43a047;  transform: translateY(-100%);}
.nav li:nth-child(4) a:after {transition:  all .4s ease-in-out; z-index: -1;content: ''; position: absolute; top: 0; left: 0; bottom: 0; right: 0;  background-color: #43a047; transform: translateY(100%);}

.nav li:nth-child(4) a:hover {color: #fff;}
.nav li:nth-child(4) a:hover:before {transform: translateY(-50%);}
.nav li:nth-child(4) a:hover:after {transform: translateY(50%);}

.nav li:nth-child(5) a {position: relative; color: #000;  }
.nav li:nth-child(5) a:before   		{transition:  all .4s ease; z-index: -1; content: ''; position: absolute;  width: 100%; height: 0; background-color: rgba(196,40,54,0.5);top: 0; left: 0;}
.nav li:nth-child(5) a:after      		{transition:  all .4s ease;  z-index: -1;content: ''; position: absolute;   width: 100%; height: 0; background-color: rgba(196,40,54,0.5); bottom:  0; left: 0; }
.nav li:nth-child(5) a span:before  {transition:  all .4s ease .4s; z-index: -1; content: ''; position: absolute;  width: 100%; height: 0; background-color: rgba(196,40,54,0.5);bottom:  0; left: 0; }
.nav li:nth-child(5) a span:after 		{transition:  all .4s ease .4s; z-index: -1; content: ''; position: absolute;  width: 100%; height: 0; background-color: rgba(196,40,54,0.5); top: 0; left: 0; }

.nav li:nth-child(5) a:hover {color: #fff;}
.nav li:nth-child(5) a:hover:before {height: 60px;}
.nav li:nth-child(5) a:hover:after    {height: 60px;}
.nav li:nth-child(5) a:hover span:before {height: 60px;}
.nav li:nth-child(5) a:hover span:after    {height: 60px;}

.nav li:nth-child(6) a {position: relative;}
.nav li:nth-child(6) a:before {content: ''; position: absolute; top: 50%; left: -20px; transform: translate(-50%, -50%); width: 20px; height: 20px; border-radius: 50%; background-color:#673bc3;  }
.nav li:nth-child(6) a:after    {content: ''; position: absolute; top: 50%; right: -20px; transform: translate(50%, -50%); width: 20px; height: 20px; border-radius: 50%; background-color:#673bc3; }
.nav li:nth-child(6) a:hover {color: red;}
.nav li:nth-child(6) a:hover:before {animation: cross-left 0.8s both; animation-direction: alternate; z-index: -1;}
.nav li:nth-child(6) a:hover:after    {animation: cross-right 0.8s both; animation-direction: alternate; z-index: -1;}

@keyframes cross-left { 
   0%     {left: -20px;  }
   50%   {left: 50%; width: 20px; height: 20px; }
   100% {left: 50%; width: 400px; height: 400px; }
}
@keyframes cross-right {  
   0%     {right: -20px;  }
   50%   {right: 50%; width: 20px; height: 20px; }
   100% {right: 50%; width: 400px; height: 400px; }
}
.nav li:nth-child(7) a {position: relative; color: #737360;}
.nav li:nth-child(7) a:before {
	content: ''; width: 0; height: 0; 
	position: absolute; bottom: 0; left: 0;
	z-index:  -1;
	border-style: solid; 
	border-width: 0 0 0 0; 
	border-color: transparent transparent transparent #0d47a1;  
	transition: all 0.35s ease-in-out;
}
.nav li:nth-child(7) a:after { 
	content: ''; width: 0; height: 0; 
	position: absolute; top: 0; right: 0;
	z-index:  -1;
	border-style: solid; 
	border-width: 0 0 0 0; 
	border-color: transparent #2962ff transparent transparent; 
	transition: all 0.35s ease-in-out;
}
.nav li:nth-child(7) a:hover {color: #fff;}
.nav li:nth-child(7) a:hover:before {border-width: 78px 263px; }
.nav li:nth-child(7) a:hover:after {border-width: 78px 263px; }

.nav li:nth-child(8) a {position: relative; color: #74bb80;}
.nav li:nth-child(8) a:before          {transition: all .35s ease-in-out; content: ''; position: absolute; z-index: -1; left: 0; top: 0; bottom: 0; right: 0; background-color: #fb8c00; transform: translate(-100%, -100%);}
.nav li:nth-child(8) a:after             {transition: all .35s ease-in-out; content: ''; position: absolute; z-index: -1; left: 0; top: 0; bottom: 0; right: 0; background-color: #fb8c00; transform: translate(-100%, 100%);}
.nav li:nth-child(8) a span:before {transition: all .35s ease-in-out; content: ''; position: absolute; z-index: -1; left: 0; top: 0; bottom: 0; right: 0; background-color: #fb8c00; transform: translate(100%, -100%);}
.nav li:nth-child(8) a span:after    {transition: all .35s ease-in-out; content: ''; position: absolute; z-index: -1; left: 0; top: 0; bottom: 0; right: 0; background-color: #fb8c00; transform: translate(100%, 100%);}

.nav li:nth-child(8) a:hover {color:#fff;}
.nav li:nth-child(8) a:hover:before          {transform: translate(-50%, -50%);}
.nav li:nth-child(8) a:hover:after             {transform: translate(-50%, 50%);}
.nav li:nth-child(8) a:hover span:before {transform: translate(50%, -50%);}
.nav li:nth-child(8) a:hover span:after    {transform: translate(50%, 50%);}

.nav li:nth-child(9) a {position: relative; color: #7fbb80;}
.nav li:nth-child(9) a:before {content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0;
												z-index: -1; transition:  all 0.3s ease-in-out;
  												border-top: 40px solid #20611b;
  												border-bottom: 30px solid #20611b;
  												border-right:  40px solid transparent;
  											 	transform: translate(-100%);}
.nav li:nth-child(9) a:after {content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0;
												z-index: -1; transition:  all 0.3s ease-in-out;
  												border-top: 40px solid #20611b;
  												border-bottom: 30px solid #20611b;
  												border-left:  40px solid transparent;
  												transform: translate(100%);}
.nav li:nth-child(9) a:hover {color: #fff;}
.nav li:nth-child(9) a:hover:before { transform: translateX(-30px); }
.nav li:nth-child(9) a:hover:after { transform: translateX(30px); }

.nav li:nth-child(10) a { position: relative; color: #9189ce; }
.nav li:nth-child(10) a:before { content:'';  position: absolute; top: 0; right: -50px; 
												 z-index: -1; transition:  all 0.3s ease-in-out;
												 bottom: 0;left: 0; border-bottom: 80px solid #4b4676;
												 border-right: 50px solid transparent;
												 transform:translateX(-100%); }

.nav li:nth-child(10) a:after { content:'';  position: absolute; top: 0; right: 0; bottom: 0;left: -50px;
												z-index: -1; transition:  all 0.3s ease-in-out;
											  	bottom: 0;left: 0; border-bottom: 80px solid #4b4676;
											  	border-left: 50px solid transparent;
											 	transform:translateX(100%);
											 	border-bottom: 80px solid #4b4676; }

.nav li:nth-child(10) a:hover {color: #fff;}
.nav li:nth-child(10) a:hover:before { transform: translateX(-40px); }
.nav li:nth-child(10) a:hover:after { transform: translateX(40px); }							 



/* icon */
.icon {position: relative;   z-index: 10;    text-align: center;  margin-top: 35px;  }
.icon ul { }
.icon li { display: inline-block; margin-right: 	10px ;	  }
.icon li a { position: relative; color: #fff; width: 66px; height: 66px; background: rgba(196,40,54,0.5); border-radius: 50%;  display: inline-block;  transition: all 0.35s ease;}
.icon li a i { font-size: 40px; line-height: 66px; }
.icon li a span {opacity: 0; position: absolute; left: 50%; top: -40px; transform: translateX(-50%);background:rgba(196,40,54,0.5);
 padding: 3px 10px; display: block; border-radius: 6px 0; transition: 	all 0.35s ease; }
.icon li a span:before { content:'';  position: absolute;	 left: 50%;	 bottom: -5px; margin-left: -5px;
	border-top: 5px solid #8f666c;
	border-left: 	5px solid transparent;
	border-right:5px solid transparent;
	 }
.icon li a:hover span {opacity:1; top: -30px;	}
.icon li a:hover {box-shadow: 0 0 3px #fff inset;
background: rgba(196,40,54,0.8)	;
}


/* MediaQuery */
@media (max-width: 1240px){
	.container {width: 100%;}
	.row {padding: 0 15px;}
	#contents .container {border-left: 0; border-right: 0;}

	.himg1 a:hover .front {transform: rotateY(0deg);}
    .himg1 a:hover .back {display: none;}
}
@media (max-width: 1024px){
	.nav li {width: 25%;}
}

@media (max-width: 960px){
	#cont-center {margin-right: 0px; border-right: 0;}
	#cont-right {overflow: hidden; position: static; width: 100%; border-top: 1px solid #000;}
	#cont-right .cbox {float: left; width: 33.3333%; box-sizing: border-box; 
									border-bottom: 0;  border-right: 1px solid #dbdbdb; }
	#cont-right .cbox:last-child {border-right: 1px solid transparent;}						


	.nav li {width: 33.33333%;}
	.square a {width: 24%;}
	.square a:nth-child(5n) {display: none;}

	.

	
}

@media (max-width: 768px){
	.nav li {width: 50%;}
	.square a {width: 32.33333%;}
	.square a:nth-child(5) {display: block;}


	#cont-right .cbox {float: left; width: 50%; box-sizing: border-box; 
									border-bottom: 0;  border-right: 1px solid #dbdbdb; }
	#cont-right .cbox:nth-child(8) {border-right: 1px solid transparent;}								
	#cont-right .cbox:last-child {display: none;}								
}

@media (max-width: 600px){
	#cont-left {float: none; width: 100%;}
	#cont-center {width: 100%; border-left: 0; border-top: 1px solid #000;}
	
	#header {height: auto;}
	.title h1 {margin-top: 50px; font-size: 20px;}
	.title a {margin-bottom: 50px; margin-top: 19px; font-size: 16px;}
	.tit {padding: 20px 0 18px 0}
	.tit h2 {font-size: 22px;}
	.quick {display: none;}
	.nav li {width: 100%;}
	.nav li a {display: block;}
	.icon {display: none;}
	.tit .tit-btn {display: none;}
	.cbox.box1 {padding: 0;}	
	.cbox.box1 .cbox-tit {display: none;}
	.cbox.box1 .cbox-desc {display: none;}
	.menu {display: none;}
	.menu ul {overflow: hidden;}
	.menu li {float: left; width: 33.3333%; box-sizing: border-box; text-align: center; border-right: 1px solid #dbdbdb;}
	.menu li:nth-child(3n) {border-right: 0;}
	.menu li a:after {display: none;}
	.menu li a:hover {box-shadow: none;}
	.square a {width: 49%;}
	.square a:nth-child(5) {display: none;}
}
@media (max-width: 400px){
	.square a {width: 100%; margin: 1% 0;}
	#cont-right .cbox {width: 100%;  border: 1px solid #dbdbdb; padding: 10px;}
	#cont-right .cbox.cbox7 {border-right: 0; border-bottom: 1px solid #dbdbdb;}
    #cont-right .cbox:last-child{ display: block; }

}
/*mediaQurey ratio*/
@media
only screen and (max-width:820px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width:820px) and (min-device-pixel-ratio: 1.5),
only screen and (max-width:820px) and (min-resolution: 1.5dppx) {
	.blog1 h5 {  background: url(../img/BLOG1_640.jpg); }
	.blog2 h5 { background: url(../img/BLOG2_640.jpg); }
    }